html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: #fff;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo img {
  width: 50px;
  height: auto;
}

.logo__title {
  font-size: 16px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #007bff;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

img {
  width: 30px;
  height: auto;
}

.pokemons {
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 17rem;
  border-radius: 0.32rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  padding: 1rem;

  &__image-wrapper {
    width: 150px;
  }

  &__image {
    width: 100%;
  }
}

.player__pokemons {
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px 20px;
  color: #fff;
}

.radio-container label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-left: 10px;
  border: 2px solid transparent;
}

.battle-ground {
  //   background-image: url("../assets/images/hero-img.jpg");
  background-color: lightblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 58vw;
}

.player-box {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.pokemon-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.pokemon-form__player-one {
  padding: 1rem;
}

.pokemon-form__player-two {
  padding: 1rem;
}

button {
  height: 2.5rem;
  width: 150px;
  background-color: #a7171c;
  color: white;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  border-radius: 4px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin: auto;
}

.pokemon-form {
  display: flex;
}

.pokemon__players {
  display: flex;
  justify-content: space-around;
}

.image-option {
  display: inline-block;
  margin: 10px;
}

.images {
  display: flex;
  justify-content: column;
}

.radio {
  display: none;
}

.radio-image {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 2px solid transparent;
}

.radio:checked + label .radio-image {
  border-color: blue;
}

.radio-2 {
  display: none;
}

.radio-image-2 {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 2px solid transparent;
}

.radio-2:checked + label .radio-image-2 {
  border-color: blue;
}

.card__image-wrapper {
  margin: auto;
}

.footer__info {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

input {
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 0.75rem;
}

.pokemon__player {
  padding-bottom: 1rem;
}

.battle-title {
  padding: 1rem;
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.winner {
  font-size: 24px;
  font-weight: bold;
  color: #a7171c;
}

.result {
  text-align: center;
}

.pokemon-form-wrapper {
  text-align: center;
}
